<!doctype html>
<html lang="en">
    <%- include('../../partials/head'); %>
    <body>
      <%- include('../../partials/navbar'); %>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark"><!-- Hero -->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-6 fst-italic">Create Product</h1>
                    <p class="lead my-3"></p>
                </div>
            </div>
        </div>
    </section><!-- end Hero -->

    <div class="container"><!-- Products Table -->
        <div class="row">
           <div class="col-md-4 offset-md-4"">
                <form action="/products/create" method="POST">

                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input name="name" 
                               type="text" 
                               value="<%= (typeof old != 'undefined' && !name) ? old.name : '' %>"
                               class="form-control" 
                               placeholder=""
                               id="name"
                               required>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.name) ? error.name.msg : '' %></small>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input name="description" 
                               type="text"
                               value="<%= (typeof old != 'undefined' && !errors.description) ? old.description : '' %>" 
                               class="form-control" 
                               placeholder=""
                               id="description"
                               required>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.description) ? error.description.msg : '' %></small>
                    </div>

                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                            <select name="category" class="form-select" aria-label="Default select example">
                            <option value="Chocolates">Chocolates</option>
                            <option value="Dulces de Leche">Dulces de Leche</option>
                            <option value="Cremas">Cremas</option>
                            <option value="Frutales">Frutales</option>
                            <option value="Veganos">Veganos</option>
                            <option value="Especiales">Especiales</option>
                        </select>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.category) ? error.category.msg : '' %></small>
                    </div>
                
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input name="price" 
                               type="text"
                               value="<%= (typeof old != 'undefined' && !errors.price) ? old.price : '' %>"  
                               class="form-control" 
                               placeholder=""
                               id="price"
                               required>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.price) ? error.price.msg : '' %></small>
                    </div>

                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                            <select name="status" class="form-select" aria-label="Default select example">
                            <option value="Active">Active</option>
                            <option value="Not Active">Not Active</option>
                        </select>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.status) ? error.status.msg : '' %></small>
                    </div>

                    <div class="mb-3 card">
                        <label for="photo" class="form-label">Photo</label>
                        <input name="photo" type="file" class="form-control-file" id="photo">
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.photo) ? error.photo.msg : '' %></small>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary mb-3">Add Product</button>
                    </div>

                </form>
            </div>
        </div>
    </div><!-- end Users Table -->




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>
    -->
  </body>
</html>