<!doctype html>
<html lang="en">
    <%- include('../../partials/head'); %>
    <body>
      <%- include('../../partials/navbar'); %>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark"><!-- Hero -->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-6 fst-italic">Edit Product</h1>
                    <p class="lead my-3"></p>
                </div>
            </div>
        </div>
    </section><!-- end Hero -->

    <div class="container"><!-- Products Table -->
        <div class="row">
            <div class="col-md-4 offset-md-4"">
                <% if(typeof errors != "undefined") {%>
                    <ul>
                        <% for(let i=0; i < errors.length; i++) { %>
                            <li><%= errors[i].msg%></li>
                        <% } %>
                    </ul>
                <% }%>
                <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" >

                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input name="name" 
                               type="text" 
                               value="<%= product.name %>"
                               class="form-control" 
                               placeholder="">
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input name="description" 
                               type="text"
                               value="<%= product.description %>" 
                               class="form-control" 
                               placeholder="">
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.description) ? error.description.msg : '' %></small>
                    </div>
                
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                            <select name="category" class="form-select" aria-label="Default select example">
                            <option value="Chocolates" <%= product.category === 'Chocolates' ? 'selected' : '' %>>Chocolates</option>
                            <option value="Dulces de Leche" <%= product.category === 'Dulces de Leche' ? 'selected' : '' %>>Dulces de Leche</option>
                            <option value="Cremas" <%= product.category === 'Cremas' ? 'selected' : '' %>>Cremas</option>
                            <option value="Frutales" <%= product.category === 'Frutales' ? 'selected' : '' %>>Frutales</option>
                            <option value="Veganos" <%= product.category === 'Veganos' ? 'selected' : '' %>>Veganos</option>
                            <option value="Especiales" <%= product.category === 'Especiales' ? 'selected' : '' %>>Especiales</option>
                        </select>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.category) ? error.category.msg : '' %></small>
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input name="price" 
                               type="number" 
                               value="<%= product.price %>" 
                               class="form-control"
                               id="price">
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.price) ? error.price.msg : '' %></small>
                    </div>

                        <div class="mb-3">
                            <label for="status" class="form-label">Status</label>
                                <select name="status" class="form-select" aria-label="Default select example">
                                <option value="Active" <%= product.status === 'Active' ? 'selected' : '' %>>Active</option>
                                <option value="Not Active" <%= product.status === 'Not Active' ? 'selected' : '' %>>Not Active</option>
                            </select>
                            <small style="color: red;"><%= (typeof error != 'undefined' && error.status) ? error.status.msg : '' %></small>
                        </div>

                    <div class="mb-3 card">
                        <label for="photo" class="form-label">Photo</label>
                        
                        <div class="mb-3">
                            <img src="<%= product.photo %>" alt="<%= product.name %>" width="200" height="200">
                        </div>
                        <input name="photo" type="file" class="form-control-file" id="photo">
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.photo) ? error.photo.msg : '' %></small>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary mb-3">Update Product</button>
                    </div>

                </form>
            </div>
        </div>
    </div><!-- end Users Table -->




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>
    -->
  </body>
</html>