<!doctype html>
<html lang="en">
  <%- include('../../partials/head'); %>
  <body>
    <%- include('../../partials/navbar'); %>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark"><!-- Hero -->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-6 fst-italic">Products List</h1>
                    <p class="lead my-3"></p>
                </div>
            </div>
        </div>
    </section><!-- end Hero -->

    <div class="container"><!-- Users Table -->
        <div class="row">
            <div class="col-md-3 py-4">
                <a href="/products/create" class="btn btn-primary">Add New Product</a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Precio</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0; i < products.length; i++ ) { %>
                    <tr>
                        <th scope="row"><%= products[i].id %></th>
                        <td>
                            <img src="https://via.placeholder.com/60" alt="" class="bd-placeholder-img" width="60" height="60">
                        </td>
                        <td><%= products[i].name %></td>
                        <td><%= products[i].category %></td>
                        <td><%= products[i].price %></td>
                        <td>
                            <a class="btn btn-sm btn-warning" href="/products/<%= products[i].id %>">Show</a>
                            <a class="btn btn-sm btn-primary" href="/products/edit/<%= products[i].id %>">Edit</a>
                            
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">Delete Product</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5>Are you sure to delete this product?</h5>
                                <p><%= products[i].Name %> - <%= products[i].category %></p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="/products/delete/<%= products[i].id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div> <!-- end Delete Modal -->
                    <% } %>
                </tbody>
            </table>
        </div>
    </div><!-- end Users Table -->




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>
    -->
  </body>
</html>