<!doctype html>
<html lang="en">
    <%- include('../partials/head'); %>
    <body>
      <%- include('../partials/navbar'); %>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark"><!-- Hero -->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-6 fst-italic">Login</h1>
                    <p class="lead my-3"></p>
                </div>
            </div>
        </div>
    </section><!-- end Hero -->

    <div class="container"><!-- Users Table -->
        <div class="row">
            <div class="col-md-4 offset-md-4"">
                <form action="/login" method="POST">

                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input name="email" 
                               type="email"
                               value="<%= (typeof old != 'undefined' && !errors.email) ? old.email : '' %>"  
                               class="form-control" 
                               placeholder="name@example.com"
                               id="email"
                               required>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.email) ? error.email.msg : '' %></small>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" 
                               type="password" 
                               class="form-control"
                               id="password"
                               required>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.password) ? error.password.msg : '' %></small>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                          <input name="rememberme" type="checkbox" value="rememberme"> Remember me
                        </label>
                      </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary mb-3">Login in</button>
                    </div>

                </form>
            </div>
        </div>
    </div><!-- end Users Table -->




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>
    -->
  </body>
</html>