<!doctype html>
<html lang="en">
    <%- include('../../partials/head'); %>
    <body>
      <%- include('../../partials/navbar'); %>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark"><!-- Hero -->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-6 fst-italic">Create User</h1>
                    <p class="lead my-3"></p>
                </div>
            </div>
        </div>
    </section><!-- end Hero -->

    <div class="container"><!-- Users Table -->
        <div class="row">
           <div class="col-md-4 offset-md-4"">
                <form action="/users/create" method="POST">

                    <div class="mb-3">
                        <label for="firstName" class="form-label">FirstName</label>
                        <input name="firstName" 
                               type="text" 
                               value="<%= (typeof old != 'undefined' && !firstName) ? old.firstName : '' %>"
                               class="form-control" 
                               placeholder="John"
                               id="firstName"
                               required>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.firstName) ? error.firstName.msg : '' %></small>
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="form-label">LastName</label>
                        <input name="lastName" 
                               type="text"
                               value="<%= (typeof old != 'undefined' && !errors.lastName) ? old.lastName : '' %>" 
                               class="form-control" 
                               placeholder="War"
                               id="lastName"
                               required>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.lastName) ? error.lastName.msg : '' %></small>
                    </div>
                
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input name="email" 
                               type="email"
                               value="<%= (typeof old != 'undefined' && !errors.email) ? old.email : '' %>"  
                               class="form-control" 
                               placeholder="name@example.com"
                               id="email"
                               required>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.email) ? error.email.msg : '' %></small>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" 
                               type="password" 
                               class="form-control"
                               id="password"
                               required>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.password) ? error.password.msg : '' %></small>
                    </div>

                    <div class="mb-3">
                        <label for="passwordConfirmation" class="form-label">Re-Password</label>
                        <input name="passwordConfirmation" 
                               type="password" 
                               class="form-control"
                               id="passwordConfirmation"
                               required>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.passwordConfirmation) ? error.passwordConfirmation.msg : '' %></small>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary mb-3">Add User</button>
                    </div>

                </form>
            </div>
        </div>
    </div><!-- end Users Table -->




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>
    -->
  </body>
</html>