<!doctype html>
<html lang="en">
    <%- include('../../partials/head'); %>
    <body>
      <%- include('../../partials/navbar'); %>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark"><!-- Hero -->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-6 fst-italic">Edit User</h1>
                    <p class="lead my-3"></p>
                </div>
            </div>
        </div>
    </section><!-- end Hero -->

    <div class="container"><!-- Users Table -->
        <div class="row">
            <div class="col-md-4 offset-md-4"">
                <% if(typeof errors != "undefined") {%>
                    <ul>
                        <% for(let i=0; i < errors.length; i++) { %>
                            <li><%= errors[i].msg%></li>
                        <% } %>
                    </ul>
                <% }%>
                <form action="/users/edit/<%= user.id %>?_method=PUT" method="POST" >

                    <div class="mb-3">
                        <label for="firstName" class="form-label">FirstName</label>
                        <input name="firstName" 
                               type="text" 
                               value="<%= user.firstName %>"
                               class="form-control" 
                               placeholder="John">
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="form-label">LastName</label>
                        <input name="lastName" 
                               type="text"
                               value="<%= user.lastName %>" 
                               class="form-control" 
                               placeholder="War">
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.lastName) ? error.lastName.msg : '' %></small>
                    </div>
                
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input name="email" 
                               type="email"
                               value="<%= user.email %>"  
                               class="form-control" 
                               placeholder="name@example.com"
                               disabled>
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.email) ? error.email.msg : '' %></small>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" 
                               type="password" 
                               class="form-control"
                               id="password">
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.password) ? error.password.msg : '' %></small>
                    </div>

                    <% if(typeof userAuthenticated != "undefined" && userAuthenticated.role === "Admin") { %>
                        <div class="mb-3">
                            <label for="role" class="form-label">Role</label>
                                <select name="role" class="form-select" aria-label="Default select example">
                                <option value="Admin" <%= user.role === 'Admin' ? 'selected' : '' %>>Admin</option>
                                <option value="Registered" <%= user.role === 'Registered' ? 'selected' : '' %>>Registered</option>
                            </select>
                            <small style="color: red;"><%= (typeof error != 'undefined' && error.role) ? error.role.msg : '' %></small>
                        </div>
                    <% } %>

                    <div class="mb-3 card">
                        <label for="avatar" class="form-label">Avatar</label>
                        
                        <div class="mb-3">
                            <img src="<%= user.avatar %>" alt="<%= user.firstName %>" width="200" height="200">
                        </div>
                        <input name="avatar" type="file" class="form-control-file" id="avatar">
                        <small style="color: red;"><%= (typeof error != 'undefined' && error.avatar) ? error.avatar.msg : '' %></small>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary mb-3">Update User</button>
                    </div>

                </form>
            </div>
        </div>
    </div><!-- end Users Table -->




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>
    -->
  </body>
</html>