<!doctype html>
<html lang="en">
    <%- include('../../partials/head'); %>
    <body>
      <%- include('../../partials/navbar'); %>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark"><!-- Hero -->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-6 fst-italic">Create User</h1>
                    <p class="lead my-3"></p>
                </div>
            </div>
        </div>
    </section><!-- end Hero -->

    <div class="container"><!-- Users Table -->
        <div class="row">
            <div class="col-md-4 offset-md-4"">
                <table class="table">
                    <tr>
                        <td colspan="2">
                            <img src="https://via.placeholder.com/200" alt="" class="bd-placeholder-img rounded-circle" width="200" height="200">
                        </td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td><%= user.firstName %> <%= user.lastName %></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td><%= user.email %></td>
                    </tr>
                    <tr>
                        <th>Role:</th>
                        <td><%= user.role %></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/users/<%= user.id %>/changePassword" class="btn btn-secondary">Change Password</a>
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-md-3 py-4">
                        <a href="/users" class="btn btn-secondary">Go Back</a>
                    </div>
                    <div class="col-md-3 py-4">
                        <a href="/users/edit/<%= user.id %>" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end Users Table -->




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>
    -->
  </body>
</html>