<!doctype html>
<html lang="en">
    <%- include('../../partials/head'); %>
    <body>
      <%- include('../../partials/navbar'); %>

    <section class="p-4 p-md-5 mb-4 text-white bg-dark"><!-- Hero -->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-6 fst-italic">Users List</h1>
                    <p class="lead my-3">
                        <% if(userAuth) {%>
                            <%= userAuth.firstName  %>
                        <% } %>
                    </p>
                </div>
            </div>
        </div>
    </section><!-- end Hero -->

    <div class="container"><!-- Users Table -->
        <div class="row">
            <div class="col-md-3 py-4">
                <a href="/users/create" class="btn btn-primary">Add New User</a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope=col> Photo</th>
                        <th scope="col">FirstName</th>
                        <th scope="col">LastName</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0; i < users.length; i++ ) { %>
                    <tr>
                        <th scope="row"><%= users[i].id %></th>
                        <td>
                            <img src="https://via.placeholder.com/60" alt="" class="bd-placeholder-img rounded-circle" width="60" height="60">
                        </td>
                        <td><%= users[i].firstName %></td>
                        <td><%= users[i].lastName %></td>
                        <td><%= users[i].email %></td>
                        <td>
                            <a class="btn btn-sm btn-warning" href="/users/<%= users[i].id %>">Show</a>
                            <a class="btn btn-sm btn-primary" href="/users/edit/<%= users[i].id %>">Edit</a>
                            
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">Delete User</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5>Are you sure to delete this user?</h5>
                                <p><%= users[i].firstName %> <%= users[i].lastName %></p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="/users/delete/<%= users[i].id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div> <!-- end Delete Modal -->
  
                    <% } %> 
                </tbody>
            </table>
        </div>
    </div><!-- end Users Table -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>
    -->

  </body>
</html>